body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}
 
.calculator {
    width: 320px;
    border: 2px solid #121010;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    height: 60px;
}
  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #3b3a3a;
    
}
#ans{
    width: 250%;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid rgb(33, 32, 32);
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #212020; */
    border-radius: 30%;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}
