body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.player {
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.controls button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #45a049;
}

#musicInfo {
    margin-top: 15px;
    font-size: 1.1em;
    color: #333;
}

.progress-container {
    margin-top: 15px;
}
#progressBar {
    width: 100%;
}

.volume-control {
    margin-top: 20px;
}

#volumeBar {
    width: 100%;
    margin-top: 5px;
}